@model IEnumerable<JKPersonSearcherModels.PersonInformation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div style="width:600px; margin-left:auto; margin-right:auto">
    <div style="background-color: lightgray">
        <h2>My Products</h2>
    </div>
    <p>Click the button to Get Products with an Ajax call</p>
    <input id="btnAjax" name="btnAjax" type="button" value="Get Products" />
    <div id="allPeople" style="background-color:lightskyblue"></div>
</div>

@section Scripts {
    <script>
    $('#btnAjax').click(function () {
        $.ajax({
                url: '/PersonInformation/GetAllPeople',
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html'

            })
            .success(function (result) {
                alert("YAY");
                $('#allPeople').html(result);
            })
            .error(function(xhr, status) {
                alert("ERROR");
                alert(status);
            });
    });
    </script>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonInformationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonInformationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonInformationId })
        </td>
    </tr>
}

</table>
